body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold */
    text-align: justify; /* Justifica el texto */
    text-align-last: center; /* Centra el último renglón */
}

.parrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular */
    text-align: justify; /* Justifica el texto */
    text-align-last: center; /* Centra el último renglón */
    margin: 0 auto; /* Centra el párrafo */
}

.container-graficos{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.grafico{
    width: 50%;
}

.titulo{
    align-self: center;
}

.dinamico {
    display: flex;
    justify-content: center;
    margin: 20px 0; 
}

.flourish-embed.flourish-map {
    width: 50%;
    max-width: 100%;
}

.flourish-embed.flourish-chart{
    width: 60%;
    max-width: 100%;
}

.container-grafico{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sabias-que {
    background-color: #5089af; /* Color de fondo */
    border: 1px solid #e0e0a1; /* Borde */
    padding: 10px 20px; /* Espaciado interno */
    margin: 20px 0; /* Espaciado externo */
    border-radius: 8px; /* Esquinas redondeadas */
    font-size: 18px; /* Tamaño de fuente */
    width: 60%;
    margin: 0 auto 20px auto; /* Centrado y margen inferior */
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Distribuir espacio igual alrededor de los elementos */
    align-items: center;
    margin: 20px 0; /* Añadido margen superior e inferior */
}

.grafico-venta{
    width: 90%;
}

.infografia {
    text-align: center;
    margin: 20px 0;
}
.infografia img {
    max-width: 100%; /* Cambia este valor para ajustar el tamaño */
    height: auto;
    border-radius: 8px;
}
.grafico {
    text-align: center;
    margin: 40px 0;
}
.grafico img {
    max-width: 100%; /* Cambia este valor para ajustar el tamaño */
    height: auto;
    border-radius: 15px;
}

.grafico-pie img {
    max-width: 80%; /* Ajusta el tamaño máximo de la imagen */
    height: auto;

    border-radius: 8px;
}